---
import Button from "./Button.astro";
---

<div
  class="flex flex-col md:flex-row justify-between p-6 mb-30 bg-black bg-opacity-75"
>
  <div class="flex flex-col gap-3">
    <a href="https://plasticchange.dk/">
      <img
        class="max-w-32"
        src="src/assets/images/logo.webp"
        alt="Plastic Change logo"
      /></a
    >
    <p class="">
      <a href="mailto:info@plasticchange.org" target="_blank"
        >Mail: info@plasticchange.org</a
      >
      <br /> Tlf: +45 42 66 72 46 <br /> Telefontid. Mandag – Fredag, 10:00 – 15:00
    </p>
  </div>
  <div class="flex flex-col gap-3">
    <p><b>Skriv dig op til vores nyhedsbrev</b></p>
    <input type="text" id="name" name="name" placeholder="Dit navn" />
    <input type="email" id="email" name="email" placeholder="Din e-mail" />
    <Button>Skriv dig op</Button>
  </div>
  <div class="flex flex-col items-center justify-around h-20">
    <p><b>Find os på SoMe</b></p>
    <div class="w-56 flex justify-between">
      <a href="https://www.facebook.com/plasticchange/"
        ><img
          src="src/assets/images/facebook-logo.webp"
          alt="Facebook-logo"
          class="w-6"
        /></a
      >
      <a href="https://www.x.com/plasticchange/"
        ><img src="src/assets/images/x-logo.webp" alt="X-logo" class="w-6" /></a
      >
      <a href="https://www.instagram.com/plasticchange/"
        ><img
          src="src/assets/images/instagram-logo.webp"
          alt="Instagram-logo"
          class="w-6"
        /></a
      >
      <a href="https://www.linkedin.com/company/plastic-change/"
        ><img
          src="src/assets/images/linkedin-logo.webp"
          alt="LinkedIn-logo"
          class="w-6"
        /></a
      >
      <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"
        ><img
          src="src/assets/images/youtube-logo.webp"
          alt="YouTube-logo"
          class="w-6"
        /></a
      >
    </div>
  </div>
</div>
